<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @invoice.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @invoice.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @invoice.amount %>
</p>

<%= link_to 'Create PDF document', invoice_path(@invoice, :format => :pdf) %>
<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
